fastapi
uvicorn[standard]
pydantic-settings
supabase
livekit-api
livekit-agents
livekit-plugins-sarvam
livekit-plugins-anthropic
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-bey
livekit-plugins-tavus
httpx
